:root {
  --color-success: #13a10e;
  --color-warning: #ffc83d;
  --color-dark: #242629;
  --rsize: 150px;
  --border-size: 3px;
}

@media (max-width: 550px) {
  :root {
    --rsize: 30vw;
    --border-size: 2px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, sans-serif;
}

* {
  box-sizing: content-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--color-dark);
}
